.background-color {
    background-color: #194561; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06070d;
    color: #978683;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  hr {
    border-style: inset;
    border-width: 4px;
    border-color: #06070d;
    height: 3px;
}


